@import url("https://fonts.googleapis.com/css?family=Muli:400,600,800&display=swap");
:root {
	--colour-1: #101820ff;
	--color-2: #fee715ff;
}

* {
	box-sizing: border-box;
	font-size: 18px;
	font-family: "Muli", sans-serif;
	margin: 0;
	padding: 0;
	border-style: none;
}

body {
	background-color: var(--colour-1);
}

.logo-text {
	text-align: center;
	font-size: 2em;
	margin: 1em;
	color: var(--color-2);
}

.form {
	text-align: center;
}

.city-name-input {
	width: 60%;
	background-color: var(--colour-1);
	color: var(--color-2);
	border: 2px solid var(--color-2);
	padding: 10px;
}
::placeholder {
	color: var(--color-2);
}

:-ms-input-placeholder {
	color: var(--color-2);
}

::-ms-input-placeholder {
	color: var(--color-2);
}
.city-name-input:focus {
	border: 2px solid var(--color-2);
	background-color: var(--color-2);
	color: var(--color-1);
	transition: 0.5s ease-out;
}

.city-search {
	padding: 10px;
	background-color: var(--color-2);
	color: var(--colour-1);
	font-size: 1em;
	font-weight: bold;
	border: 2px solid var(--color-2);
}

.city-search:hover {
	background-color: var(--colour-1);
	color: var(--color-2);
	transition: 0.5s ease-out;
}
