.form-group {
	position: relative;
	padding-top: 1.5rem;
}

label {
	position: absolute;
	top: 0;
	font-size: var(--font-size-small);
	opacity: 1;
	transform: translateY(0);
	transition: all 0.2s ease-out;
}

input:placeholder-shown + label {
	opacity: 0;
	transform: translateY(1rem);
}

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
