@import url("https://fonts.googleapis.com/css?family=Muli:400,600,800&display=swap");
:root {
	--colour-1: #101820ff;
	--color-2: #fee715ff;
}

* {
	box-sizing: border-box;
	font-family: "Muli", sans-serif;
	border-style: none;
}

html,
body,
div,
img {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
}
body {
	line-height: 1;
}

.response {
	visibility: visible;
}

body {
	background-color: var(--colour-1);
}

.logo-text {
	text-align: center;
	font-size: 2em;
	margin: 1em;
	color: var(--color-2);
}

.form {
	text-align: center;
}

.city-name-input {
	width: 60%;
	background-color: var(--colour-1);
	color: var(--color-2);
	border: 2px solid var(--color-2);
	padding: 10px;
}
::placeholder {
	color: var(--color-2);
}

:-ms-input-placeholder {
	color: var(--color-2);
}

::-ms-input-placeholder {
	color: var(--color-2);
}
.city-name-input:focus {
	border: 2px solid var(--color-2);
	background-color: var(--color-2);
	color: var(--color-1);
	transition: 0.5s ease-out;
}

.city-search {
	padding: 10px;
	background-color: var(--color-2);
	color: var(--colour-1);
	font-size: 1em;
	font-weight: bold;
	border: 2px solid var(--color-2);
}

.city-search:hover {
	background-color: var(--colour-1);
	color: var(--color-2);
	transition: 0.5s ease-out;
}

.cell {
	border: 1px solid white;
	margin: auto;
	max-width: 80%;
	width: 50%;
	height: auto;
	margin-top: 20px;
	color: var(--color-2);
}

.info {
	display: flex;
	align-content: space-between;
	padding: 10px;
	width: 400px;
}

.info-container {
	width: 80%;
	height: auto;
	margin: 0 5px;
}

.info-city-header {
	font-size: 16px;
	color: white;
	margin-bottom: 8px;
}
.info-city-p {
	font-size: 14px;
	line-height: 1.5em;
}

.info-city-p span {
	color: white;
	font-size: 14px;
}

.map {
	margin-top: 20px;
	display: flex;
	width: 100%;
}

.image-container {
	margin: 0.5vw;
	font-size: 0;
	display: -ms-flexbox;
	-ms-flexbox-wrap: wrap;
	-ms-flexbox-direction: column;
	flex-flow: row wrap;
	display: -webkit-box;
	display: flex;
}

.image-container-div {
	-webkit-box-flex: auto;
	-ms-flex: auto;
	flex: auto;
	width: 400px;
	margin: 5px;
}

.image-container-div-img {
	width: 100%;
	height: auto;
}

@media screen and (max-width: 400px) {
	.image-container-div {
		margin: 0;
	}

	.image-container {
		padding: 0;
	}
}

.facebook-share {
	background-color: var(--colour-1);
	color: var(--color-2);
	font-size: 12px;
	font-weight: bold;
	transition: 0.5s ease-out;
	cursor: pointer;
	max-width: 200px;
	text-align: center;
	width: 50%;
	margin: auto;
	padding: 5px;
	border: none;
	margin-top: 5px;
}
.facebook-share:hover {
	background-color: var(--color-2);
	color: var(--colour-1);
}
